In [1]:
import numpy as np
import pandas as  pd

# Boolean Indexing

In [2]:
df=pd.read_csv('train_1.csv',index_col='Loan_ID')

In [3]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
temp=df.loc[(df['Gender']=='Female') & (df['Education']=='Graduate') & (df['Loan_Status']=='Y'),['Gender','Education','Loan_Status']]
len(temp)

61

In [5]:
df.loc[(df['Married']=='No') & (df['Dependents'] !='0'),['Gender','Education','Loan_Status','Dependents']]

          Gender     Education Loan_Status Dependents
Loan_ID
LP001034    Male  Not Graduate           Y          1
LP001087  Female      Graduate           Y          2
LP001097    Male      Graduate           N          1
LP001100    Male      Graduate           N         3+
LP001392  Female      Graduate           Y          1
LP001677    Male      Graduate           Y          2
LP001790  Female      Graduate           Y          1
LP001836  Female      Graduate           N          2
LP001846  Female      Graduate           Y         3+
LP001870  Female      Graduate           N          1
LP001884  Female      Graduate           Y          1
LP001910    Male  Not Graduate           N          1
LP001945  Female      Graduate           N        NaN
LP002043  Female      Graduate           Y          1
LP002097    Male      Graduate           Y          1
LP002100    Male      Graduate           Y        NaN
LP002113  Female  Not Graduate           N         3+
LP002144  Female      Graduate           Y        NaN
LP002161  Female      Graduate           N          1
LP002205    Male      Graduate           N          1
LP002237    Male      Graduate           Y          1
LP002255    Male      Graduate           Y         3+
LP002318  Female  Not Graduate           N          1
LP002341  Female      Graduate           N          1
LP002367  Female  Not Graduate           N          1
LP002377  Female      Graduate           Y          1
LP002418    Male  Not Graduate           Y         3+
LP002422    Male      Graduate           Y          1
LP002444    Male  Not Graduate           N          1
LP002472    Male      Graduate           Y          2
LP002489  Female  Not Graduate           Y          1
LP002524    Male      Graduate           Y          2
LP002545    Male      Graduate           N          2
LP002634  Female      Graduate           Y          1
LP002714    Male  Not Graduate           Y          1
LP002723    Male      Graduate           N          2
LP002729    Male      Graduate           N          1
LP002738    Male      Graduate           Y          2
LP002753  Female      Graduate           Y          1
LP002933     NaN      Graduate           Y         3+
LP002943    Male      Graduate           N        NaN
LP002949  Female      Graduate           N         3+

In [6]:
df['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

# Apply Function

In [7]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [8]:
ed=pd.DataFrame(df,columns=['LoanAmount','ApplicantIncome'])

In [9]:
ed.head()

          LoanAmount  ApplicantIncome
Loan_ID
LP001002         NaN             5849
LP001003       128.0             4583
LP001005        66.0             3000
LP001006       120.0             2583
LP001008       141.0             6000

In [10]:
#axis 0--function is to be applied on each column
#axis 1--function is to be applied on each row
df.apply(lambda x:sum(x.isnull()),axis=0)

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# Imputing Missing data

In [11]:
from scipy.stats import mode

In [12]:
mode(df['Gender'])

c:\python27\lib\site-packages\numpy\lib\arraysetops.py:200: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

ModeResult(mode=array(['Male'], dtype=object), count=array([489]))

In [13]:
mode(df['Married'])

ModeResult(mode=array(['Yes'], dtype=object), count=array([398]))

In [14]:
df['Gender'].fillna(mode(df['Gender']).mode[0],inplace=True)
df['Married'].fillna(mode(df['Married']).mode[0],inplace=True)
df['Self_Employed'].fillna(mode(df['Self_Employed']).mode[0],inplace=True)

In [15]:
a=df.apply(lambda x:sum(x.isnull()),axis=0)
a

Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [16]:
type(a)

pandas.core.series.Series

# Multi Indexing

In [17]:
impute_grps=pd.pivot_table(df,index=['Gender','Married','Self_Employed'],values=['LoanAmount'],aggfunc=lambda x:x.mean())

In [18]:
impute_grps

                              LoanAmount
Gender Married Self_Employed
Female No      No             114.691176
               Yes            125.800000
       Yes     No             134.222222
               Yes            282.250000
Male   No      No             129.936937
               Yes            180.588235
       Yes     No             153.882736
               Yes            169.395833

In [19]:
impute_grps.loc[('Male','No','No')]

LoanAmount    129.936937
Name: (Male, No, No), dtype: float64

In [20]:
df[df['LoanAmount'].isnull()]

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001106,Male,Yes,0,Graduate,No,2275,2067.0,NaN,360.0,1.0,Urban,Y
LP001213,Male,Yes,1,Graduate,No,4945,0.0,NaN,360.0,0.0,Rural,N
LP001266,Male,Yes,1,Graduate,Yes,2395,0.0,NaN,360.0,1.0,Semiurban,Y
LP001326,Male,No,0,Graduate,No,6782,0.0,NaN,360.0,NaN,Urban,N
LP001350,Male,Yes,NaN,Graduate,No,13650,0.0,NaN,360.0,1.0,Urban,Y
LP001356,Male,Yes,0,Graduate,No,4652,3583.0,NaN,360.0,1.0,Semiurban,Y
LP001392,Female,No,1,Graduate,Yes,7451,0.0,NaN,360.0,1.0,Semiurban,Y
LP001449,Male,No,0,Graduate,No,3865,1640.0,NaN,360.0,1.0,Rural,Y
LP001682,Male,Yes,3+,Not Graduate,No,3992,0.0,NaN,180.0,1.0,Urban,N
LP001922,Male,Yes,0,Graduate,No,20667,0.0,NaN,360.0,1.0,Rural,N
LP001990,Male,No,0,Not Graduate,No,2000,0.0,NaN,360.0,1.0,Urban,N
LP002054,Male,Yes,2,Not Graduate,No,3601,1590.0,NaN,360.0,1.0,Rural,Y
LP002113,Female,No,3+,Not Graduate,No,1830,0.0,NaN,360.0,0.0,Urban,N
LP002243,Male,Yes,0,Not Graduate,No,3010,3136.0,NaN,360.0,0.0,Urban,N
LP002393,Female,Yes,NaN,Graduate,No,10047,0.0,NaN,240.0,1.0,Semiurban,Y
LP002401,Male,Yes,0,Graduate,No,2213,1125.0,NaN,360.0,1.0,Urban,Y
LP002533,Male,Yes,2,Graduate,No,2947,1603.0,NaN,360.0,1.0,Urban,N
LP002697,Male,No,0,Graduate,No,4680,2087.0,NaN,360.0,1.0,Semiurban,N
LP002778,Male,Yes,2,Graduate,Yes,6633,0.0,NaN,360.0,0.0,Rural,N
LP002784,Male,Yes,1,Not Graduate,No,2492,2375.0,NaN,360.0,1.0,Rural,Y
LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N

In [21]:
for i,row in df[df['LoanAmount'].isnull()].iterrows():
    ind=tuple([row['Gender'],row['Married'],row['Self_Employed']])
    df.loc[i,'LoanAmount']=impute_grps.loc[ind].values[0]

In [22]:
df.apply(lambda x:sum(x.isnull()),axis=0)

Gender                0
Married               0
Dependents           15
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# Binning

In [24]:
df.LoanAmount.describe()

count    614.000000
mean     146.393783
std       84.082713
min        9.000000
25%      100.250000
50%      128.000000
75%      165.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [33]:
bins=[90,140,190]
labels=['low','medium','high','very high']
minval=df['LoanAmount'].min()
maxval=df['LoanAmount'].max()
break_points=[minval]+bins+[maxval]
df['LoanAmount_bin']=pd.cut(df['LoanAmount'],bins=break_points,labels=labels,include_lowest=True)

In [34]:
df['LoanAmount_bin'].value_counts()

medium       273
high         146
low          104
very high     91
Name: LoanAmount_bin, dtype: int64

In [35]:
df['LoanAmount_bin'].describe()

count        614
unique         4
top       medium
freq         273
Name: LoanAmount_bin, dtype: object

In [36]:
len(df)

614

In [38]:
df=df.drop('LoanAmount',axis=1)

In [39]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_bin
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,360.0,1.0,Urban,Y,medium
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,360.0,1.0,Rural,N,medium
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,360.0,1.0,Urban,Y,low
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,360.0,1.0,Urban,Y,medium
LP001008,Male,No,0,Graduate,No,6000,0.0,360.0,1.0,Urban,Y,high
LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,360.0,1.0,Urban,Y,very high
LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,360.0,1.0,Urban,Y,medium
LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,360.0,0.0,Semiurban,N,high
LP001018,Male,Yes,2,Graduate,No,4006,1526.0,360.0,1.0,Urban,Y,high
LP001020,Male,Yes,1,Graduate,No,12841,10968.0,360.0,1.0,Semiurban,N,very high
LP001024,Male,Yes,2,Graduate,No,3200,700.0,360.0,1.0,Urban,Y,low
LP001027,Male,Yes,2,Graduate,No,2500,1840.0,360.0,1.0,Urban,Y,medium
LP001028,Male,Yes,2,Graduate,No,3073,8106.0,360.0,1.0,Urban,Y,very high
LP001029,Male,No,0,Graduate,No,1853,2840.0,360.0,1.0,Rural,N,medium
LP001030,Male,Yes,2,Graduate,No,1299,1086.0,120.0,1.0,Urban,Y,low
LP001032,Male,No,0,Graduate,No,4950,0.0,360.0,1.0,Urban,Y,medium
LP001034,Male,No,1,Not Graduate,No,3596,0.0,240.0,NaN,Urban,Y,medium
LP001036,Female,No,0,Graduate,No,3510,0.0,360.0,0.0,Urban,N,low
LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,360.0,1.0,Rural,N,medium
LP001041,Male,Yes,0,Graduate,No,2600,3500.0,NaN,1.0,Urban,Y,medium
LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,360.0,0.0,Urban,N,medium
LP001046,Male,Yes,1,Graduate,No,5955,5625.0,360.0,1.0,Urban,Y,very high
LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,360.0,0.0,Semiurban,N,medium
LP001050,Male,Yes,2,Not Graduate,No,3365,1917.0,360.0,0.0,Rural,N,medium
LP001052,Male,Yes,1,Graduate,No,3717,2925.0,360.0,NaN,Semiurban,N,high
LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,360.0,1.0,Semiurban,Y,very high
LP001068,Male,Yes,0,Graduate,No,2799,2253.0,360.0,1.0,Semiurban,Y,medium
LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,360.0,1.0,Urban,Y,medium
LP001086,Male,No,0,Not Graduate,No,1442,0.0,360.0,1.0,Urban,N,low
LP001087,Female,No,2,Graduate,No,3750,2083.0,360.0,1.0,Semiurban,Y,medium
...,...,...,...,...,...,...,...,...,...,...,...,...
LP002911,Male,Yes,1,Graduate,No,2787,1917.0,360.0,0.0,Rural,N,high
LP002912,Male,Yes,1,Graduate,No,4283,3000.0,84.0,1.0,Rural,N,high
LP002916,Male,Yes,0,Graduate,No,2297,1522.0,360.0,1.0,Urban,Y,medium
LP002917,Female,No,0,Not Graduate,No,2165,0.0,360.0,1.0,Semiurban,Y,low
LP002925,Male,No,0,Graduate,No,4750,0.0,360.0,1.0,Semiurban,Y,medium
LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,360.0,0.0,Semiurban,N,medium
LP002928,Male,Yes,0,Graduate,No,3000,3416.0,180.0,1.0,Semiurban,Y,low
LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,240.0,1.0,Semiurban,N,very high
LP002933,Male,No,3+,Graduate,Yes,9357,0.0,360.0,1.0,Semiurban,Y,very high
LP002936,Male,Yes,0,Graduate,No,3859,3300.0,180.0,1.0,Rural,Y,high
LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,360.0,1.0,Urban,Y,very high
LP002940,Male,No,0,Not Graduate,No,3833,0.0,360.0,1.0,Rural,Y,medium
LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,360.0,1.0,Rural,N,high
LP002943,Male,No,NaN,Graduate,No,2987,0.0,360.0,0.0,Semiurban,N,low
LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,360.0,1.0,Rural,Y,high
LP002948,Male,Yes,2,Graduate,No,5780,0.0,360.0,1.0,Urban,Y,very high
LP002949,Female,No,3+,Graduate,No,416,41667.0,180.0,NaN,Urban,N,very high
LP002950,Male,Yes,0,Not Graduate,No,2894,2792.0,360.0,1.0,Rural,Y,high
LP002953,Male,Yes,3+,Graduate,No,5703,0.0,360.0,1.0,Urban,Y,medium
LP002958,Male,No,0,Graduate,No,3676,4301.0,360.0,1.0,Rural,Y,high
LP002959,Female,Yes,1,Graduate,No,12000,0.0,360.0,1.0,Semiurban,Y,very high
LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,180.0,1.0,Urban,N,high
LP002961,Male,Yes,1,Graduate,No,3400,2500.0,360.0,1.0,Semiurban,Y,high
LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,360.0,1.0,Rural,Y,high
LP002974,Male,Yes,0,Graduate,No,3232,1950.0,360.0,1.0,Rural,Y,medium
LP002978,Female,No,0,Graduate,No,2900,0.0,360.0,1.0,Rural,Y,low
LP002979,Male,Yes,3+,Graduate,No,4106,0.0,180.0,1.0,Rural,Y,low
LP002983,Male,Yes,1,Graduate,No,8072,240.0,360.0,1.0,Urban,Y,very high
LP002984,Male,Yes,2,Graduate,No,7583,0.0,360.0,1.0,Urban,Y,high
LP002990,Female,No,0,Graduate,Yes,4583,0.0,360.0,0.0,Semiurban,N,medium